#Gathering Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import requests
import tweepy 
import json
import tweepy
from tweepy import OAuthHandler
from timeit import default_timer as timer

In [2]:
a = pd.read_csv("twitter-archive-enhanced.csv")
a.shape

(2356, 17)

In [3]:
a.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [4]:
a.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None

In [5]:
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
response = requests.get(url)

with open('image-predictions.tsv', mode ='wb') as file:
    file.write(response.content)

b = pd.read_csv("image-predictions.tsv", sep='\t')
b.shape

(2075, 12)

In [6]:
b.columns

Index(['tweet_id', 'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2',
       'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'],
      dtype='object')

In [7]:
b.head(3)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True

In [8]:
import tweepy
from tweepy import OAuthHandler
import json
from timeit import default_timer as timer

# Query Twitter API for each tweet in the Twitter archive and save JSON in a text file
# These are hidden to comply with Twitter's API terms and conditions
consumer_key = 'HIDDEN'
consumer_secret = 'HIDDEN'
access_token = 'HIDDEN'
access_secret = 'HIDDEN'

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

# NOTE TO STUDENT WITH MOBILE VERIFICATION ISSUES:
# df_1 is a DataFrame with the twitter_archive_enhanced.csv file. You may have to
# change line 17 to match the name of your DataFrame with twitter_archive_enhanced.csv
# NOTE TO REVIEWER: this student had mobile verification issues so the following
# Twitter API code was sent to this student from a Udacity instructor
# Tweet IDs for which to gather additional data via Twitter's API
tweet_ids = df_1.tweet_id.values
len(tweet_ids)

# Query Twitter's API for JSON data for each tweet ID in the Twitter archive
count = 0
fails_dict = {}
start = timer()
# Save each tweet's returned JSON as a new line in a .txt file
with open('tweet_json.txt', 'w') as outfile:
    # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
    for tweet_id in tweet_ids:
        count += 1
        print(str(count) + ": " + str(tweet_id))
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            print("Success")
            json.dump(tweet._json, outfile)
            outfile.write('\n')
        except tweepy.TweepError as e:
            print("Fail")
            fails_dict[tweet_id] = e
            pass
end = timer()
print(end - start)
print(fails_dict)

NameError: name 'df_1' is not defined

In [ ]:
d = pd.read_json("tweet-json.txt", orient = 'records', lines = True)
d.columns

In [ ]:
c= d[["id", "retweet_count", "favorite_count"]].copy()
c= c.rename(columns={"id": "tweet_id"})
c.shape

In [ ]:
c.head(3)

#Assessing Data

Copying the original datasets

In [ ]:
a_clean = a.copy()
b_clean = b.copy()
c_clean = c.copy()

**1) All the three datasets should be merged** (Tidiness Issue)

In [ ]:
df = b.merge(a, on='tweet_id', how='inner').merge(c, on='tweet_id', how='inner')
df.columns

Copying the original dataset

In [ ]:
df_clean = df.copy()

Check if there are any  duplicates, drop duplicate rows if they exist

In [ ]:
sum(df.duplicated())

Assessing each Variable

*Variable 'tweet_id'*

In [ ]:
df.tweet_id.unique()

Inference:
* It contains all the unique ids of each tweet in the appropriate data type

*Variable jpg_url*

In [ ]:
df.jpg_url.unique()

Inference:
* It contains all the unique urls of images of each tweet in the appropriate data type

*Variable img_num*

In [ ]:
df.img_num.value_counts()

Inference:
* It contains the image number that corresponded to the most confident prediction (numbered 1 to 4 since tweets can have up to four images) in the appropriate datatype
* The column name could be renamed so it is understood better

*Variable p1*

In [ ]:
df.p1.unique()

Inference:
* It contains the algorithm's #1 prediction for the image in the tweet
* The contains values like 'hen', 'ox' 'desktop computer' which aren't breeds of dogs and could be removed for higher accuracy

*Variable 'p1_conf'*

In [ ]:
df.p1_conf.unique()

Inference:
* It shows how confident the algorithm is in its #1 prediction
* The column is in the appropriate datatype, float

*Variable 'p1_dog'*

In [ ]:
df.p1_dog.unique

Inference:
* It shows whether or not the #1 prediction is a breed of dog
* The column is in the appropriate datatype, boolean

Similar inference follow for variables 'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog' as above since they're derived by the same method

*Variable 'in_reply_to_status_id'*

In [ ]:
df.in_reply_to_status_id.unique()

Inference:
* It shows numerical value when the row is a reply to a tweet and nan value otherwise.
* Since, we want only original tweets, we should drop rows which are replies to tweets

*Variable 'in_reply_to_user_id'*

In [ ]:
df.in_reply_to_user_id.unique()

Inference:
* It shows numerical value when the row is a reply to a tweet and nan value otherwise.
* Since, we want only original tweets, we should drop rows which are replies to tweets

*Variable 'timestamp'*

In [ ]:
df.timestamp.unique()

Inference:
* It shows the time of the tweet.
* The format of data is object whereas it should be datatime format.

*Variable 'source'*

In [ ]:
df.source.unique()

Inference:
* It shows source of the tweet
* The datatype is in the appropriate format of object

*Variable 'text'*

In [ ]:
df.text.unique()

Inference:
* It shows text of the tweet
* The datatype is in the appropriate format of object
* The name of the dog, gender of the dog can be extracted from this column

*Variable 'retweeted_status_id'*

In [ ]:
df.retweeted_status_id.unique()

Inference:
* It shows numerical value when the row is a retweet and nan value otherwise.
* Since, we want only original tweets, we should drop rows which are retweets

*Variable 'retweeted_status_user_id'*

In [ ]:
df.retweeted_status_user_id.unique()

Inference:
* It shows numerical value of the user's id when the row is a retweet and nan value otherwise.
* Since, we want only original tweets, we should drop rows which are retweets

*Variable 'retweeted_status_timestamp'*

In [ ]:
df.retweeted_status_timestamp.unique()

Inference:
* It shows timestamp of tweet when the row is a retweet and nan value otherwise.
* Since, we want only original tweets, we should drop rows which are retweets

*Variable 'expanded_urls'*

In [ ]:
df.expanded_urls.unique()

Inference:
* It shows the expanded urls in the tweet
* The datatype of this column is appropriate, object

Variable 'rating_numerator'

In [ ]:
df.rating_numerator.unique()

Inference:
* It shows the dog's rating out of 10

* Some of the ratings are 0 or below 10 which is against the
unique rating system of WeRateDogs where the rating numerators are greater than the denominators.

* Thus, the rows having lesser ratings could be dropped.

*Variable 'rating_denominator'*

In [ ]:
df.rating_denominator.value_counts()

Inference:
* It shows the denominator of the dog's rating

* Some of the ratings less than or more than 10 which is against the unique rating system of WeRateDogs where the dogs are rated out of 10.

* Thus, the rows having inaccurate data could be dropped.
* After which, since the column has just 1 value of 10 and doesn't provide a lot of different information, it could be dropped as well

*Variable 'name'*

In [ ]:
df.name.unique()

Inference:
* It shows the names of the dogs

* The datatype of this column is appropriate

* However, it contains names like 'a' , 'an' , 'the' , 'my', 'quite' , 'by', 'all', 'just', 'his' which are erroneous
* It shoul be noted that all the names which are inaccrate start with small alphabets while all the names which are correct start with capital letters
*Thus all values which do not start with capital letters shold be dropped.

*Variable 'doggo'*

In [ ]:
df.doggo.unique()

Inference:
* It shows the lifecycle stage in which the dog is

* The datatype of this column is appropriate

*Variable 'floofer'*

In [ ]:
df.floofer.unique()

Inference:
* It shows the lifecycle stage in which the dog is

* The datatype of this column is appropriate

*Variable 'pupper'*

In [ ]:
df.pupper.unique()

Inference:
* It shows the lifecycle stage in which the dog is

* The datatype of this column is appropriate

*Variable 'puppo'*

In [ ]:
df.puppo.unique()

Inference:
* It shows the lifecycle stage in which the dog is

* The datatype of this column is appropriate

Inference:
* Since all 4 columns, doggo, floofer, pupper, puppo represent the same thing, the lifecycle of the dog, they can be combined into a single column, namely, 'Life_Cycle'

*Variable 'retweet_count'*

In [ ]:
df.retweet_count.unique

Inference:
* It shows the number of times the tweet has been retweeted

* The datatype of this column is appropriate, integer

Variable 'favorite_count'

In [ ]:
df.favorite_count.unique

Inference:
* It shows the number of times the tweet has been favourited

* The datatype of this column is appropriate, integer

#Cleaning the dataset

In [ ]:
df.columns

**2) Renaming the column names by displaying their full forms and capitalizing them for better understanding** (Quality Issue)

In [ ]:
df = df.rename(columns={"tweet_id":"Tweet_Id", "jpg_url":"Jpg_Url" ,"img_num":"Image_Number", "p1":"First_Prediction", "p1_conf":"Confidence_of_First_Prediction", "p1_dog":"Result_of_First_Prediction","p2":"Second_Prediction", "p2_conf":"Confidence_of_Second_Prediction", "p2_dog":"Result_of_Second_Prediction","p3":"Third_Prediction", "p3_conf":"Confidence_of_Third_Prediction", "p3_dog":"Result_of_Third_Prediction", "in_reply_to_status_id":"Status_Id_of_Reply", "in_reply_to_user_id":"User_Id_of_Reply", "timestamp":"Timestamp", "source":"Source", "text":"Text", "expanded_urls":"Urls", "rating_numerator":"Rating", "rating_denominator":"Rating_Denominator", "name":"Name","retweet_count":"Number_of_Retweets", "favorite_count":"Number_of_favourites" })
df.columns

**3) Removing rows which do not contain breeds of dogs from First_Prediction column** (Quality Issue)

Reading dataset which has all breeds of dogs

In [ ]:
breed= pd.read_csv("breeds.csv")
breed.head()

In [ ]:
arr=list(breed['breed'])
arr

In [ ]:
df['First_Prediction'] = df['First_Prediction'].str.lower()
df = df[df['First_Prediction'].isin(arr)]

In [ ]:
df.First_Prediction.unique()

**4) Removing rows which aren't breeds of dogs from Second_Prediction** (Quality Issue)

In [ ]:
df['Second_Prediction'] = df['Second_Prediction'].str.lower()
df = df[df['Second_Prediction'].isin(arr)]

**5) Removing rows which aren't breeds of dogs from Third_Prediction** (Quality Isssue)

In [ ]:
df['Third_Prediction'] = df['Third_Prediction'].str.lower()
df = df[df['Third_Prediction'].isin(arr)]

**6) Since only original tweets are required, filtering out tweets which are replies** (Quality Issue)

In [ ]:
df=df[df['Status_Id_of_Reply'].isnull()]

**7) Since original tweets are required, filtering out tweets which have numerical values since they imply that those tweets are replies** (Quality Issue)

In [ ]:
df=df[df['User_Id_of_Reply'].isnull()]

**8) Since the columns indicating the status and user id of replies are null, dropping those coluns from dataset** (Tidiness Issue)

In [ ]:
df = df.drop(['Status_Id_of_Reply', 'User_Id_of_Reply'], axis=1)

In [ ]:
df.columns

**9) Changing the datatype of the Timestamp column from oject to datetime** (Quality Issue)

In [ ]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [ ]:
df.dtypes

**10) According to rating syste of WeRateDogs, the numerator value is always above 10. So dropping rows with lesser values** (Quality Issue)

In [ ]:
df = df[df['Rating'] >= 10]  
df.Rating.unique()

**11) Removing rows which have denominator other than 10** (Quality Issue)

In [ ]:
df = df[df['Rating_Denominator'] == 10]  
df.Rating_Denominator.unique()

**12) Since Rating_Denominator doesn't have any unique values, dropping that column from the dataset** (Tidiness Issue)

In [ ]:
df = df.drop(["Rating_Denominator"], axis=1)

**13) Since retweets are not required, filtering them out by deleting rows there retweet_status_id does not have value 0** (Quality Issue)

In [ ]:
df=df[df['retweeted_status_id'].isnull()]

**14) Removing rows where column 'retweeted_status_user_id' has non zero value implying that that particular row has a retweet** (Quality Issue)

In [ ]:
df.retweeted_status_user_id.value_counts()

**15) Removing rows where column 'retweeted_status_timestamp' has some value eaning that it is a retweet** (Quality Issue)

In [ ]:
df.retweeted_status_timestamp.value_counts()

**16) After the cleaning steps above, all columns relating to retweets have null values, so dropping them out** (Tidiness Issue)

In [ ]:
df = df.drop(['retweeted_status_id', 'retweeted_status_user_id','retweeted_status_timestamp'], axis=1)
df.columns

**17) Removing rows with inaccurate dog names** (Quality Issue)

In [ ]:
df['New_name'] = df.Name.str.capitalize()

In [ ]:
df.shape

In [ ]:
df[['Name','New_name']].head()

df=df[df['Name']==df['New_name']]

In [ ]:
df.drop(['New_name'], axis=1)
df.shape

In [ ]:
df.Name.unique()

**18) Replacing the 4 columns indicating the dog's lifecycle with 1 column** (Tidiness Issue)

In [ ]:
import numpy as np
test = df[['doggo','floofer','pupper', 'puppo'  ]].copy()
test['doggo'].replace('None', np.nan, inplace=True)
test['floofer'].replace('None', np.nan, inplace=True)
test['pupper'].replace('None', np.nan, inplace=True)
test['puppo'].replace('None', np.nan, inplace=True)

In [ ]:
y=test.fillna('').sum(1).replace('', np.nan)
df['Life_Cycle']= y
df= df.drop(['doggo','floofer', 'pupper','puppo'], axis=1)

#Storing Data

In [ ]:
df.to_csv("twitter_archive_master.csv")

#Analyzing, and Visualizing Data

In [ ]:

graph=df.select_dtypes(["int64","float64"])
graph.hist(figsize=(16,14))

Inference:
* The confidence of First Prediction is the highest and has maximum number of values having a confidence of 0.1, that is 100% confidence
* Very few values in confidence of First Prediction have values which are on the lesser side, that is, 0
* Values are alost equally distributed between 0.3 and 0.9 confidence in the confidence of First Prediction
* Maximum number have a confidence of 0, that is 0% in the confidence of the second prediction
* In the confidence of the second prediction,, as the confidence keeps on increasing, the number of tweets having that confidence keeps on decreasing
* Least number of tweets have a maximum confidence of 0.45 that is 45% in the confidence of second prediction
* The confidence of Third Prediction is the lowest as compared to the confidence of the first and the second prediction
* The confidence of the Third prediction has maximum confidence of 0.22 i.e. 22% with most number of values having 0 confidence
* Very few values having a confidence of 0.22 in the confidence of the third prediction
* Most number of tweets have retweets between 0-1000
* Very less number of tweets have tweets more than 1000
* Maximum retweets received are 5000 retweets
* A very high number of tweets are favourited upto 1500 times
* Number of tweets favourited above 1500 goes on decreasing
* Maximum number of times a tweet is favoutited is 12000
* Most of the tweets have a rating of 10-12.5
* Very few tweets have a rating above 12.5
* The maximum rating received by a tweet on a scale of 10 is 27.5
* For most number of tweets, the image number that corresponded to the most confident prediction is image number 1
* After image number 1, image number that corresponded to the most confident prediction is image number 2
* After image number 2, the image number that corresponded to the most confident prediction is image number 3
* The number of tweets for which image number 4 corresponds to the most confident predicition is the least

In [ ]:
import seaborn as sns
corr_new=df[['Number_of_favourites','Number_of_Retweets']].corr()
sns.heatmap(corr_new,annot=True)

Inference:
* The number of retweets and the number of favourites have a high correlation
* When number of retweets is high, the number of favourites is high
* When number of retweets is less, number of favourites is less as well

In [ ]:
new_plot  = df[df.Life_Cycle.str.len()<8]

In [ ]:
new_plot.Life_Cycle.value_counts().plot(kind='bar')

Inference:
* It shows the lifecycle of the dogs
* Most of the dogs have a lifecycle stage of being a of pupper
* Few ddogs are in the lifecycle stage of being a of doggo
* Very few dogs are in the lifecycle stage of being a puppo
*Lease number of dogs are in the lifecycle stage of being a floffer

In [ ]:
df['First_Prediction'].value_counts().sort_values(ascending=False).head(10).plot(kind='bar')

Inference:
* It shows the top 10 breeds that are most likely to be predicted in the First Prediction

In [ ]:
df['Second_Prediction'].value_counts().sort_values(ascending=False).head(10).plot(kind='bar')

Inference:
* It shows the top 10 breeds that are most likely to be predicted in the Second Prediction

In [ ]:
df['Third_Prediction'].value_counts().sort_values(ascending=False).head(10).plot(kind='bar')

Inference:
* It shows the top 10 breeds that are most likely to be predicted in the Third Prediction